 <div class="jumbotron">

	<center>
		<h1>Welcome to the Do-Nut Shop!</h1>

		<img src="http://www.roadfood.com/photos/8846.jpg">
		<br>

		<%= link_to "You know you want one!", do_nuts_path, class: "btn btn-default" %>
	</center>
</div>
